<header id="header" class="header-serviceV2 scollView">
    <div class="home-menu">
        <nav class="navbar-core navbar-white navbar-v1 headroom headroom--not-bottom headroom--pinned headroom--top">
            <div class="s-wrapper s-wrapper-service">
                <div class="container">
                    <div class="s-inner clearfix">
                        <div class="pull-left nav-left">
                            <div class="logo">
                                <a href="{% url 'home' %}">
                                    <h1>Ecommerce</h1>
                                </a>
                            </div>
                        </div>
                        <button class="hamburger has-animation hamburger--collapse" id="toggle-icon">
                                    <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                    </span>
                        </button>
                        <div class="pull-right nav-right">
                            <div class="navbar-main">
                                <ul class="navbar-menu">
                                    <li class="dropdown">
                                        <a href="{% url 'home' %}" class="active-menu">Home</a>
                                    </li>
                                    <li class="dropdown productMN">
                                        <a href="{% url 'laptop-page'%}?page=1&limit=8" class="active-menu">Laptop</a>
                                    </li>
                                    <li class="dropdown productMN">
                                        <a href="#" class="active-menu">Book</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'login' %}" class="active-menu">Login</a>
                                    </li>
                                    {#                                    </security:authorize>#}
                                    <li class="dropdown" id="cart-parent">
                                        <a href="/gio-hang"><img src="../static/images/cart.png">
                                            {#                                            <c:if test="${not empty carts && sessionScope.carts.size()!= 0}">#}
                                            {#                                                <div class="cart-alert">#}
                                            {#                                                        <span>#}
                                            {#                                                                ${sessionScope.carts.size()}#}
                                            {#                                                        </span>#}
                                            {#                                                </div>#}
                                            {#                                            </c:if>#}
                                            {#                                            <c:if test="${empty carts || sessionScope.carts.size() == 0}">#}
                                            {#                                                <div>#}
                                            {#                                                        <span>#}
                                            {#                                                                ${sessionScope.carts.size()}#}
                                            {#                                                        </span>#}
                                            {#                                                </div>#}
                                            {#                                            </c:if>#}
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <div class="search2">
                                            <ul>
                                                <li>
                                                    <input type="text" id="search" placeholder="Search"/>
                                                </li>
                                                <li>
                                                    <div class="fa fa-search " id="search-button"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    {#                                    <security:authorize access="isAuthenticated()">#}
                                    {#                                        <li>#}
                                    {#                                            <ul class="nav nav-pills" style="margin-top: 20px;margin-left: 50px;">#}
                                    {#                                                <li class="dropdown">#}
                                    {#                                                    <a class="dropdown-toggle"#}
                                    {#                                                       data-toggle="dropdown"#}
                                    {#                                                       href="#"#}
                                    {#                                                       style="border-radius: 20px; height: 40px; width: 40px; background-color: rosybrown; text-align: center">#}
                                    {#                                                        <%=SecurityUtils.getPrincipal().getFullName().charAt(SecurityUtils.getPrincipal().getFullName().lastIndexOf(" ") + 1)%>#}
                                    {#                                                        <b class="caret"></b>#}
                                    {#                                                    </a>#}
                                    {#                                                    <ul class="dropdown-menu">#}
                                    {#                                                        <a href="#"> - Thông tin cá nhân</a>#}
                                    {#                                                        <br>#}
                                    {#                                                        <a href="/j_spring_security_logout"> - Đăng xuất</a>#}
                                    {#                                                    </ul>#}
                                    {#                                                </li>#}
                                    {#                                            </ul>#}
                                    {#                                        </li>#}
                                    {#                                    </security:authorize>#}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>