{% extends 'main.html' %}
{% block content %}
    <section style="margin-top: 100px;margin-bottom: 50px; display: flex; flex-direction: row">
        <div class="container wow animate__backInUp" data-wow-duration="0.5s">
            <div class="row">
                <div class="col-md-6">
                    <div style="">
                        <div class="image-preview-container">
                            <!-- - - - - - - - - - - - - - Image Preview Container - - - - - - - - - - - - - - - - -->
                            <div class="image-preview" style="width: 100%;">
                                <a href="http://localhost:8000/image/download/{{ laptop.item.image }}"
                                   data-zoom-image="../static/images/${item.code}.jpg"
                                   data-fancybox="group">
                                    <img id="zoom-image"
                                         src="http://localhost:8000/image/download/{{ laptop.item.image }}"
                                         alt=""
                                         style="max-height: 310px; max-width: 470px;width: 100%;height: 100%;display: block;margin: 0 auto;">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6  clearfix">
                    <div class="mid-product-content media-body">
                        <h3 style="font-size: 35px; color: #c19b76">{{ laptop.item.name }}</h3>
                        <div class="notable clearfix">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                        </div><!--/notable-->
                        {% if laptop.item.discount != 0 %}
                            <div style="display: flex; margin-top: 30px;">
                            <span class="price-old"
                                  style="font-size: 18px; font-weight: 400;">{{ laptop.item.price_before }} VNĐ
                            </span>
                                <div style="height: 20px; width: 20px;"></div>
                                <p>-{{ laptop.item.discount }}%</p>
                            </div>

                        {% endif %}
                        <div style="margin-top: 30px">
                            <span class="details-price price-format">{{ laptop.item.price }} VNĐ</span>
                        </div>


                        <div class="lineAbout" style="width: 100%;height: 1px;    margin-top: 15px;"></div>
                        <div class="addCart">
                            <ul>
                                <li>
                                    <button class="button btn-hover btn-details btn-buy" data-type="trigger-modal"
                                    >Buy <i
                                            class="la la-shopping-cart"
                                            style="font-size: 20px;position: relative;top: 2px;"></i></button>
                                </li>
                                <li>
                                    <button class="button btn-hover btn-details cart-button"
                                            data-id="{{ laptop.item.id }}"
                                            style="margin-top: 15px; margin-left: 20px">
                                        Add to cart
                                        <i class="la la-shopping-cart"
                                           style="font-size: 20px;position: relative;top: 2px;">
                                        </i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div><!--/mid-product-content-->
                </div>
            </div>
        </div>
    </section>
    <script>
        $('.cart-button').on('click', function () {
            $(`#popup1`).toggleClass('overlay-modal');
        });
        $('.close-modal').click(function () {
            $(`#popup1`).toggleClass('overlay-modal');
        })
    </script>
    <section class="tabProduct wow animate__backInUp" data-wow-duration="0.5s">
        <div class="container">
            <div class="menuTabPro">
                <ul class="">
                    <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active tabProText" style="width: 100%; overflow: hidden">
                    <div class="if-box">
                        <p>{{ laptop.item.description |safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center">
        <h3>Comments</h3>
    </div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="d-flex flex-column comment-section">
                    {% for comment in comments %}
                        <div class="bg-white p-2">
                            <div class="d-flex flex-row user-info"><img class="rounded-circle"
                                                                        src="https://i.imgur.com/RpzrMR2.jpg"
                                                                        width="40">
                                <div class="d-flex flex-column justify-content-start ml-2"><span
                                        class="d-block font-weight-bold name">Marry Andrews</span><span
                                        class="date text-black-50">Shared publicly - Jan 2020</span></div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                        <div class="bg-white" style="display: flex">
                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span>
                            </div>
                            <div style="width: 30px"></div>
                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span
                                    class="ml-1">Comment</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div style="height: 40px"></div>
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start">
                            {% if user.is_authenticated and user.image %}
                                <img class="rounded-circle"
                                     src="http://localhost:8000/image/download/{{ user.image }}"
                                     width="40">
                            {% else %}
                                <img class="rounded-circle"
                                     src="../static/images/anonymous.png"
                                     width="40">
                            {% endif %}

                            <textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                        <div class="mt-2 text-right">
                            <button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button>
                            <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="page-shop-slidebar wow animate__backInUp" data-wow-duration="0.75s" style="padding-top: 60px;">
        <div class="container">
            <div class="text-center">
                <h3>Most sell product</h3>
            </div>
            <div class="row">
                {% for laptop in laptops %}
                    <div class="col-md-3 col-sm-6 col-xs-12 wow animate__backInUp"
                         data-wow-duration="0.5s">
                        <div class="product-item productG "
                             style="margin-top: 0;     min-height: 360px;display: flex;flex-direction: column;align-items: center;">
                            <div class="product-image sizeImg"
                                 style="max-width: 270px;max-height: 300px;float: unset;position: relative;width: 100%;height: 100%">
                                <img src="http://localhost:8000/image/download/{{ laptop.item.image }}"
                                     alt="product"
                                     class="product-img-first img-responsive"
                                     style="max-width: 270px; width: 100%; height: 240px; object-fit: cover;">
                                <div class="arrIcon"></div>
                                <div class="box-posi">-{{ laptop.item.discount }}%</div>
                                <div class="arrIcon2">
                                    <ul>
                                        <li>
                                            <div class="cart-button" data-id="${item.id}">
                                                <i class="la la-shopping-cart"></i>
                                            </div>
                                        </li>
                                        <li style="margin-left: 6px;margin-right: 6px;">
                                            <a href="{% url 'laptop' laptop.id %}">

                                                <i class="la la-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-text clearfix">
                                <div class="product-left pull-left"
                                     style="padding-top: 20px;padding-bottom: 15px;">
                                    <div class="product-name">
                                        <h3 class="product-title">
                                            <a href="{% url 'laptop' laptop.id %}"
                                               class="color-setting">{{ laptop.item.name }}</a>
                                        </h3>
                                    </div>
                                    <div class="product-price">
                                        {% if 0 != laptop.item.discount %}
                                            <span class="price1 price-format">{{ laptop.item.price_before }}</span>
                                        {% endif %}
                                        <span class="price price-format">{{ laptop.item.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
        $('.cart-button').click(function () {
            let id = $(this).attr("data-id");
            $.ajax(
                {
                    url: "/api/cart/add",
                    type: "POST",
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    data:
                        {
                            id: id
                        },
                    success: function (value) {
                        // alert("Thêm vào giỏ hàng thành công");
                        if (value === 403) {
                            Swal.fire(
                                'Login?',
                                'Please login before add to cart',
                            )
                        } else {
                            $('#cart-parent').find("div").html("<span>" + value + "</span>");
                            $('#cart-parent').find("div").addClass("cart-alert");
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Add to cart success',
                                showConfirmButton: true,
                                timer: 2000
                            })
                        }
                    },
                    error: function () {
                        Swal.fire(
                            {
                                icon: 'error',
                                title: 'Oops...'
                            }
                        )
                    }
                }
            )
        })
    </script>
{% endblock %}