{% extends 'main.html' %}
{% block content %}
    {% include 'common/login_css.html' %}
    <div class="login-form">
        <form action="{% url 'authenticate' %}" method="POST">
            {% csrf_token %}
            <h1>Login</h1>
            <div class=" content
        ">
                <div class="input-field">
                    <input type="text" name="username" id="username" placeholder="Username" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="password" name="password" id="password" placeholder="Password" autocomplete="new-password">
                </div>
                <a href="#" class="link">Forgot Your Password?</a>
            </div>
            <div class="action">
                <button><a href="{% url 'register' %}">Register</a></button>
                <button type="submit">Sign in</button>
            </div>
        </form>
    </div>
    <!-- partial -->
    <script>
        let form = document.querySelecter('form');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            return false;
        });
    </script>
{% endblock %}

