{% extends 'main.html' %}

{% block content %}

    <div style="height: 200px">
    </div>
    <div class="login-form">
        <form id="form-submit">
            <h1>Sign up</h1>
            <div class="content">
                <div class="input-field">
                    <input type="text" placeholder="name" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="email" placeholder="Email" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="phone" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="address" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="username" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" autocomplete="new-password">
                </div>
                <a href="{% url 'login' %}">Did you have a account? Sign in now</a>
            </div>
        </form>
        <div class="action">
            <button id="register-button">Register</button>
        </div>
    </div>
    <!-- partial -->
    <script>

        $('#register-button').click(function (e) {
            e.preventDefault();
            let data = {};
            let formData = $('#form-submit').serializeArray();
            $.each(formData, function (i, v) {
                data["" + v.name + ""] = v.value;
            })
            add(data)
        });

        function add(data) {
            $.ajax(
                {
                    url: "/api/user/create",
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    success: function (result) {
                        console.log(result.id);
                        window.location.href = "/login";
                    },
                    error: function (result) {
                        window.location.href = "/register?message=usernameIsUsed";
                    }
                }
            )
        }
    </script>

{% endblock content %}